{% extends "_base.html.twig" %}
{% set page = "coverage" %}

{% block title %}
    Coverage
{% endblock %}

{% block javascripts %}
    <script src="/js/moment.min.js"></script>
    <script src="/js/chart.bundle.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <canvas id="canvas"></canvas>
    <script>

        function randomColorFactor() {
            return Math.round(Math.random() * 255);
        }

        function randomColor(opacity) {
            return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
        }

        var config = {
            type: 'line',
            data: {
                datasets: [
                    {% for slug in slugs %}
                    {
                    label: "{{ slug.slug }}",
                    data: [],
                    fill: false
                    }{% if loop.last == false %},{% endif %}
                    {% endfor %}
                ]
            },
            options: {
                scaleBeginAtZero: false,
                responsive: true,
                title:{
                    display: false,
                    text: "Coverage"
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            unit: "hour"
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Coverage in %'
                        },
                        ticks: {
                            beginAtZero: true,
                            min: 0,
                            max: 100
                        }
                    }]
                }
            }
        };

        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLineChart = new Chart(ctx, config);

        $.each(config.data.datasets, function(i, dataset) {
            var pointColor = randomColor(0.4),
                    color  = randomColor(0.7);

            dataset.borderColor = color;
            dataset.backgroundColor = color;
            dataset.pointBorderColor = pointColor;
            dataset.pointBackgroundColor = pointColor;
            dataset.pointBorderWidth = 0;
        });

        $.each(config.data.datasets, function(i, dataset) {
            $.ajax({
                url: '/coverage/data/' + dataset.label,
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    data.forEach(function (item) {
                        dataset.data.push({x: item.x, y: item.y});
                    });
                    window.myLineChart.update();
                }
            });
        });

    </script>
</div>
{% endblock %}

{% block footer %}
    <p class="text-muted">Powered by <a href="http://www.chartjs.org/" target="_blank">Chart.js</a></p>
{% endblock %}
